
<div class="navbar">
    <div class="lien-navbar">
        <a routerLink="" routerLinkActive="active">Accueil</a>
        <a routerLink="tache" routerLinkActive="active">Taches </a>
        <a routerLink="liste" routerLinkActive="active">liste </a>
        


    </div>
    <a target="_blank" href="https://angular.io/tutorial" title="Help">
        <svg id="lien-angular" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
        </svg>
    </a>
</div>
